<div class="d-flex">
  <!-- sidebar -->
  <app-sidebar></app-sidebar>
  <!-- sidebar -->
  <div class="container">
    <div class="row p-3">
      <h5>Buscar:</h5>
      <input type="text" class="form-control" placeholder="Buscar gifs..." />
    </div>

    <hr />

    <div class="row">
      <div class="col">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo non mollitia velit. Error reprehenderit
        tenetur rem. Eos, libero dolorem unde cumque architecto ea modi error debitis vero amet dignissimos omnis.
      </div>
    </div>

  </div>
</div>